In [1]:
import pandas as pd
from datetime import datetime

df = pd.read_csv('ustemp.csv')
df.head()

df2 = pd.read_csv('precip.txt')
df2

C:\Users\nicol\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (14,20,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,MM/DD/YYYY,ID,YEAR,MONTH,DAY,TMAX,TMAX_FLAGS,TMIN,TMIN_FLAGS,PRCP,...,WSF5,WSF5_FLAGS,WT13,WT13_FLAGS,WT02,WT02_FLAGS,WT19,WT19_FLAGS,WT09,WT09_FLAGS
0,1906-04-01,USW00093134,1906,4,1,161.0,__6,89.0,__6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1906-04-02,USW00093134,1906,4,2,183.0,__6,67.0,__6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1906-04-03,USW00093134,1906,4,3,189.0,__6,83.0,__6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1906-04-04,USW00093134,1906,4,4,178.0,__6,111.0,__6,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1906-04-05,USW00093134,1906,4,5,189.0,__6,100.0,__6,152.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38039,2018-05-08,USW00093134,2018,5,8,244.0,__D,144.0,__D,0.0,...,54.0,__W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38040,2018-05-09,USW00093134,2018,5,9,239.0,__D,150.0,__D,0.0,...,63.0,__W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38041,2018-05-10,USW00093134,2018,5,10,244.0,__D,156.0,__D,0.0,...,72.0,__W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38042,2018-05-11,USW00093134,2018,5,11,183.0,__D,156.0,__D,0.0,...,58.0,__W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38043,2018-05-12,USW00093134,2018,5,12,189.0,__D,139.0,__D,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
import pandas as pd