In [7]:
import pandas as pd
from datetime import datetime

In [15]:
import glob

#read in datasets
path = r'C:\Users\nicol\OneDrive - UW-Madison\Documents\Stat_451\project' 
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

madweather = pd.concat(li, axis=0, ignore_index=True)
madweather.head()

       STATION                                     NAME     DATE  PRCP  TAVG
0  USW00014837  MADISON DANE CO REGIONAL AIRPORT, WI US  1960-01  2.19  21.1
1  USW00014837  MADISON DANE CO REGIONAL AIRPORT, WI US  1960-02  1.15  19.7
2  USW00014837  MADISON DANE CO REGIONAL AIRPORT, WI US  1960-03  1.93  18.3
3  USW00014837  MADISON DANE CO REGIONAL AIRPORT, WI US  1960-04  4.02  48.1
4  USW00014837  MADISON DANE CO REGIONAL AIRPORT, WI US  1960-05  6.26  55.1

In [16]:
#all data came from same station, column not important
#drop columns that had missing data for extended time periods
del madweather['STATION']
del madweather['NAME']

In [17]:
madweather.head()
madweather.tail()

         DATE  PRCP  TAVG
2159  1959-09  3.44  63.7
2160  1959-10  5.55  46.5
2161  1959-11  2.29  27.1
2162  1959-12  2.45  31.0
2163  1960-01  2.19  21.1

In [18]:
madweather.to_csv("madweather.csv", index = False)