In [1]:
# preliminaries

import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier

from sktime.classification.compose import ComposableTimeSeriesForestClassifier
from sktime.datasets import load_arrow_head
from sktime.utils.slope_and_trend import _slope

from sktime.utils.plotting import plot_series

from sktime.classification.compose import ColumnEnsembleClassifier
from sktime.classification.interval_based import TimeSeriesForestClassifier
from sktime.classification.dictionary_based import BOSSEnsemble

In [2]:
import numpy as np
import pandas as pd

# load data and fix issues w original

weather = pd.read_csv('madweather.csv')
del weather['Unnamed: 0']
weather.head()
weather.dtypes

DATE     object
PRCP    float64
SNOW    float64
TAVG    float64
TMAX    float64
TMIN    float64
dtype: object

In [3]:
# change data from object to datetime
weather['DATE'] = pd.to_datetime(weather.DATE)
data = weather.drop(['DATE'], axis = 1)
data.index = weather.DATE

In [4]:
# missing values
cols = data.columns
for j in cols:
    for i in range(0, len(data)):
        if data[j][i] == -200:
            data[j][i] = data[j][i-1]

In [6]:
data.head()

            PRCP  SNOW  TAVG  TMAX  TMIN
DATE
1900-01-01  0.69   4.5  23.7  30.8  16.6
1900-02-01  1.26   9.1  13.0  21.5   4.5
1900-03-01  1.33  12.5  25.1  32.3  17.9
1900-04-01  1.31   5.0  48.0  57.8  38.3
1900-05-01  1.87   0.0  60.5  70.9  50.2

In [7]:
# split into test and train
train = data[:int(0.8*(len(data)))]
test = data[int(0.8*(len(data))):]

In [8]:
from statsmodels.tsa.vector_ar.var_model import VAR

In [ ]:
model = VAR(endog=train)
model_fit = model.fit()