In [1]:
import pandas as pd
from datetime import datetime

In [2]:
import glob

#read in datasets
path = r'C:\Users\nicol\OneDrive - UW-Madison\Documents\Stat_451\project' 
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

madweather = pd.concat(li, axis=0, ignore_index=True)
madweather.head()

,STATION,NAME,DATE,EMNT,EMSD,EMSN,EMXP,EMXT,PRCP,SNOW,TAVG,TMAX,TMIN,DSNW
0,USC00474966,"MADISON WEATHER BUREAU CITY, WI US",1900-01,-14.0,NaN,3.0,0.35,44.0,0.69,4.5,23.7,30.8,16.6,NaN
1,USC00474966,"MADISON WEATHER BUREAU CITY, WI US",1900-02,-12.0,NaN,3.0,0.93,40.0,1.26,9.1,13.0,21.5,4.5,NaN
2,USC00474966,"MADISON WEATHER BUREAU CITY, WI US",1900-03,-6.0,NaN,3.0,0.42,50.0,1.33,12.5,25.1,32.3,17.9,NaN
3,USC00474966,"MADISON WEATHER BUREAU CITY, WI US",1900-04,24.0,NaN,3.0,0.56,76.0,1.31,5.0,48.0,57.8,38.3,NaN
4,USC00474966,"MADISON WEATHER BUREAU CITY, WI US",1900-05,32.0,NaN,0.0,0.70,84.0,1.87,0.0,60.5,70.9,50.2,NaN

In [3]:
#all data came from same station, column not important
#drop columns that had missing data for extended time periods
del madweather['STATION']
del madweather['NAME']
del madweather['EMNT']
del madweather['EMSN']
del madweather['EMXT']
del madweather['EMXP']
del madweather['SNOW']
del madweather['DSNW']
del madweather['EMSD']

In [5]:
madweather.head()
madweather.tail()

         DATE  PRCP  TAVG  TMAX  TMIN
5193  1974-09  0.54  59.2   NaN   NaN
5194  1974-10  1.81  51.8   NaN   NaN
5195  1974-11  1.59  39.0   NaN   NaN
5196  1974-12  1.67  27.6   NaN   NaN
5197  1975-01  1.60  23.5   NaN   NaN

In [6]:
madweather.to_csv("madweather.csv", index = False)